<IfModule mod_headers.c>
    Header always unset X-Frame-Options
    Header set X-Content-Type-Options nosniff
    Header set X-Permitted-Cross-Domain-Policies "master-only"
    Header set X-XSS-Protection "1; mode=block"
    Header edit Set-Cookie ^(.*)$ $1;HttpOnly;Secure
    Header set Content-Security-Policy "default-src 'self'; font-src * 'unsafe-inline'; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'; img-src * data: 'unsafe-inline'; connect-src * 'unsafe-inline'; frame-src *; frame-ancestors *; plugin-types application/pdf"
</IfModule>