* {
  margin: 0;
  padding: 0;
}
:root{
  --circle: linear-gradient()
}

.top-card.col-sm-2.px-2.my-2 {
    min-width: 160px !important;
    height: 120px;
	position: relative;
}


.mainBody .top-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(37deg, #0c82d1, #8e44ad);
  padding: 3px 30px 3px 20px;
}
.nav-bars i{
  margin-left: 50px;
  padding: 3px 3px;
  border-radius: 3px;
  background: white;
  margin: 3px 0px;
}



.mainBody .top-nav .nav-tick {
  position: relative;
  height: 20px;
}

.mainBody .top-nav .nav-tick span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background-color: #fff;
  margin-left: 90px;
}

.mainBody .top-nav .nav-tick i {
  position: relative;
  left: 85px;
  top: -7px;
  color: #61e5c2;
  font-size: 26px;
}
.fa-check {
  margin-left: -103px;
}

.mainBody .top-nav .nav-right img {
  width: 22px;
  height: 23px;
}
.mainBody .top-nav .nav-right .message{
  width: 22px;
  height: 18px;
  margin-left: 15px;
}

.mainBody .top-nav .nav-right .user {
  background-color: #fff;
  border-radius: 5px;
  padding: 3px;
  margin: 5px 0px;
}

.mainBody .top-nav .nav-right .user img {
  width: 20px;
  height: auto;
}
.nav-right i{
  width: 30px;
  font-size: 25px;
  color: #1adfc9;
  margin: 0px 15px;
}




.bars-container{
  height: 120px;
  border-radius: 20px;
  background: var(--color-3) !important;
  box-shadow:  3px -3px 1px rgba(121, 115, 115, 0.596);
}
.blue-area span{
  border: 5px solid grey;
  width: 100px;
  height: 25px;
}
.bars-container .bars i{
  text-align: center;
  margin-top: 10px;
  padding: 8px;
  font-size: 18px;
  border-top-left-radius: 8px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.blue-area {
    border: 1px solid grey;
    width: 101%;
	margin-top: 22%;
    height: 35%;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    text-align: center;
	position: relative;
    bottom: 0;
    float: left;
}
.blue-area .box{
	width: 75%;
	margin: 0 auto;
	margin-top: -20px;
	height: 35px;
	background: var(--color-4);
	border: 1px solid rgb(4, 77, 87);
	text-align: center;
	border-radius: 8px;
	clip-path: polygon(20% 0%, 80% 0%, 100% 50%, 80% 100%, 20% 100%, 0 50%);
}
.box h5, .box p{
  color: #fff;
}
.mainBody .top-cards .top-card h5 {
  width: 100px;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  color: #fff;
  line-height: 18px;
  margin-top: 6px;
}

.mainBody .top-cards .top-card h4{
  font-size: 15px;
  color: #fff;
  margin-top: 10px;
}
.mainBody .top-cards .top-card p {
  width: 110px;
  margin: 0 auto;
  text-align: center;
  font-size: 10px;
  color: #fff;
  margin-top: 15px;
  padding-left: 5px;
  font-weight: 500;
  
}
.mainBody .top-cards .top-card p.lst-box{
  width: 110px;
  margin-top: 10px;
  font-size: 10px;
}
table th{
  padding: 5px 15px;
  text-align: center;
  background: white;
  font-size: 16px;
}
table td{
  padding: 5px 15px;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
}
table .blue{
  background: linear-gradient(rgb(57, 57, 177),  rgb(62, 76, 206));
  color: white;
}
table .yellow{
  background: rgb(255, 196, 0);
}
table .sunday{
  color: red;
}
.mainBody .top-cards .top-card:last-child p {
  margin-top: 8px;
}
.mainContainer{
  display: flex;
  width: 85vw;
  padding: 0px 10px;
}

.progressLine  ul{
  margin: 25px 15px;
  padding: 15px 20px;
  width: 100%;
  height: 150px;
}
.progressLine ul li {
    width: 100%;
    padding-top: 24px;
    font-size: x-large;
    text-align: center;
    margin: -18px 25px;
}
#myProgress {
  width: 350px;
  background-color: rgb(65, 60, 60);
  border-radius: 25px;
  margin: 10px 5px;
}


#myBar {
  height: 8px;
  margin-top: -20px;
  border-radius: 25px;

}
.progress1, .progress4{
  background: linear-gradient(90deg, rgb(76, 230, 241), rgb(33, 65, 245));
}
.progress2, .progress5{
  background: linear-gradient(65deg, rgb(228, 64, 173), rgb(240, 216, 220));
}
.progress3, .progress6{
  background: linear-gradient(25deg, #2980b9, #8e44ad);

}
.progress1{
  width: 50%;
}
.progress2{
  width: 60%;
}
.progress3{
  width: 45%;
}
.progress4{
  width: 55%;
}
.progress5{
  width: 75%;
}
.progress6{
  width: 90%;
}
.rightContainer{
  background: var(--background-1)!important;
  border-radius: 12px;
  border:1px solid var(--border-color-1) !important;
  text-align: center;
  position: relative;
}
.clock .clock-circle-dotted{
  width: 50%;
  height: 100px;
  margin: 20px auto;
  border: 2px dotted rgb(49, 49, 202);
  border-left-color: black;
  border-bottom-color: black;
  border-radius: 50%;
  transform: rotate(45deg);
}
.clock .clock-circle{
  width: 42%;
  height: 85px;
  margin: 0px auto;
  border: 1.8px solid rgba(17, 17, 17, 0.733);
  border-radius: 50%;
  margin-top: -112px;
}
.clock .clock-circle-hard{
  width: 35%;
  height: 69px;
  margin: 0 auto;
  margin-top: -77px;
  margin-bottom: 28px;
  border: 8px solid transparent; /*2*/
  background:linear-gradient(45deg, #093958,#8e44ad) border-box; /*3*/
  -webkit-mask: /*4*/
     linear-gradient(#fff 0 0) padding-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/
          mask-composite: exclude; /*5*/
  border-radius: 50%;
  border-right-color: #1adfc9;
  transform: rotate(-45deg);
}

.rightContainer .progress-meter {
  margin: 15px;
  background-color: var(--color-4);
  padding: 15px 0px;
}
.lowercolor{
  position: absolute;
  bottom: 0;
  height: 40px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background: linear-gradient(57deg, #8e44ad, #2980b9);
  margin-top: 40px;
}
.dump-text .underline{
    display: block;
    width: 50%;
    background: linear-gradient(to right, #5bf1c4, rgb(199, 194, 194));
    height: 2px;
    margin: 0 auto;
}

.dump-text p{ 
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 3px;
}
.mainBody .graphs {
  width: 100%;
  display: flex;
}

.mainBody .graphs .graph-cal {
  display: flex;
  background-color: #cbcbcea8;
  padding: 15px;
  width: 100%;
  border-radius:8px;
  box-shadow: 5px 5px 10px #cbcbcea8;
}

.mainBody .graphs .line-graph-main {
  display: flex;
  align-items: flex-end;
  height: 150px;
  margin: 20px;
  position: relative;
}

.mainBody .graphs .line-graph-main div {
  position: absolute;
  left: 15px;
  top: -12px;
}

.mainBody .graphs .line-graph-main p {
  font-size: 13px;
  margin-bottom: 10px;
  line-height: 1px;
}

.mainBody .graphs .line-graph-main .lg-shade1,
.mainBody .graphs .line-graph-main .lg-shade2 {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0px 15px;
}

.mainBody .graphs .line-graph-main .lg-shade1 {
  background: linear-gradient(to right, #ffd16b, #ffaf15);
}

.mainBody .graphs .line-graph-main .lg-shade2 {
  background: linear-gradient(to right, #1adfc9, #b7eeba);
}

.mainBody .graphs .line-graph {
  width: 500px;
  height: 130px;
  margin-left: 15px;
}

.mainBody .graphs .calender {
  display: block;
  width: 320px;
  padding: 15px 25px;
}
.graphs1{
  margin: 25px 0px;
  display: flex;
  padding: 10px 0px;
}
.graph-cal1{
  background: #cbcbcea8;
  border-radius: 8px;
  box-shadow: 5px 5px 10px #cbcbcea8;
  padding: 10px 15px;
}

.graphs1 button{
  margin: 10px 0px 0px 45px;
  background-color: white;
  border: none;
  outline: none;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 12px;
  
}
.line{
  width:450px;
  height:200px;
  size:20px;
  padding: 25px 5px 25px 45px;
}
.line2{

  justify-content: left;
  align-items: center;
  float: left;
  width: 100%;
  padding: 10px;
}
#rightProgress {
  margin: 10px 15px;
}


#rightBar {
  height: fit-content;
  margin-top: 10px;
  box-shadow: inset 0 0 10px #0000008a;
  float: left;
  width: 100%;
  clear: both;
}

.rightProgressLine2{
  width: 120px;
}
.rightProgressLine3{
  width: 95px;
}
.rightProgressLine4{
  width: 120px;
}
.rightProgressLine5{
  width: 90px;
}

.line2 p{
  font-size: 12px;
  line-height: 8px;
  margin-top: -15px;
  margin-left: -20px;
  color: #fff;
  font-weight: 500;
}

.map{
  width: 380px;
  height: 200px;
}
.location{
  width: 350px;
  height: 180px;
  margin-left: -375px;
  margin-top: -40px;
}

@media (max-width: 1315px){
  
}
@media (max-width: 1260px){

  .rightContainer .progress-meter img{
    padding: 0px 10px;
  }
}
@media (max-width:1030px){
  .left h4 {
    text-align: left;
    color: white;
    margin-top: 12px;
    font-weight: 400;
    margin-left: -5px;
    font-size: 18px;
}
.left .icons div {
  padding: 20px 35px;
}
.left .icons .underline {
  display: block;
  width: 125px;
  background: linear-gradient(to right, #5ef28b, #fff);
  height: 2px;
  margin: 0 auto;
  margin-left: -15px;
}
  .mainBody .top-nav{
    width: 100%;
  }

  .mainBody .top-cards .top-card h4{
    font-size: 8px;
    color: white;
    margin-top: 8px;
    margin-left: 0px;
  }

  .mainBody .top-cards .top-card p.lst-box{
    margin-top: 0px;
    margin-left: -15px;
  }
  .mainBody .graphs .graph-cal{
    width: 90%;
  }
  .mainBody .graphs .line-graph {
    width: 275px;
    height: 115px;
    margin-left: 6px;
}
.mainBody .graphs .calender-main {
  display: block;
  width: 225px;
  height: 190px;
  padding: 5px 3px;
}
table th{
  padding: 5px 5px;
  text-align: center;
  background: white;
  font-size: 12px;
}
table td{
  padding: 5px 12px;
  text-align: center;
  font-size: 10px;
  font-weight: 500;
}
.progressLine ul {
  margin-left: 15px;
  margin-right: -25px;
  margin-top: 6px;
  padding: 20px 20px;
  width: 100%;
  height: 130px;
}
.progressLine ul li{
  margin: -22px 8px;
}
#myProgress {
  width: 275px;
  background-color: rgb(65, 60, 60);
  border-radius: 25px;
  margin: 10px 5px;
}
  .graphs-left{
    width: 100%;
    height: auto;
  }
  .line {
    width: 340px;
    height: 181px;
    size: 20px;
    padding: 25px 20px 25px 45px;
}
.location {
  width: 240px;
  height: 158px;
  margin-left: -258px;
  margin-top: -33px;
}
.map {
  width: 265px;
  height: 180px;
  margin-left: -20px;
}
  

  .clock .clock-circle-dotted {
    height: 92px;
    margin: 20px auto;
}
.clock .clock-circle {
  width: 42%;
  height: 80px;
  margin-top: -107px;
}
.clock .clock-circle-hard {
  width: 37%;
  height: 69px;
  margin: 0 auto;
  margin-top: -75px;
  margin-bottom: 28px;

  transform: rotate(-45deg);
  margin-left: 60px;
}

}